<h1>New furlough</h1>

<%= render 'form' %>

<%= link_to 'Home', @current_employee, :class => 'btn'  %>
<% if current_employee.admin? %>
<%= link_to 'View all Furloughs', furloughs_path, :class => 'btn' %>
<% end %>